@font-face {
    font-family: "Riffic";
    src: url(RifficFree-Bold.ttf);
}
html {
    scroll-behavior: smooth;
  }
  
h1{
    font-family: "Riffic";
    position: relative;
    color: white;
}
li:not(#usern) {
    display: inline-block;
    font-family: "Riffic";
    padding-right: 5%;
    margin: 15px 0 15px 0;
    font-size: 30px;
}
a:link:not(#ghub):not(#sitin){
    color: white;
}
a:visited:not(#ghub):not(#sitin){
    color: lightgray;
}
p{
    font-size: 20px;
}
.topbar {
    margin: auto;
    list-style: none;
    font-family: "Riffic";
    color: aliceblue;
    text-align: right;
    background-color: cornflowerblue;
}
body{
    background-color: rgb(113, 154, 207);
    font-weight: bold;
    text-align: center;
    font-family: "Riffic";
    color: white;
    text-shadow: 1px 1px 1px #000000;
}
#usern{
    font-size: 50px;
    float: left;
    text-align: left;
    padding-left: 4%;
}
button{
    font-size: larger;
    width: 10%;
}
#sitin{
    color:rgb(153, 187, 204);
    text-decoration: none;
    text-shadow: 2px 2px 2px #000000;
}
#ghub{
    text-decoration: none;
    color: rgb(143, 196, 217);
    font-size: 20px;
}

.project{
    background-color: cornflowerblue;
    width: 20%;
    height: 16%;
    display: inline-block;
    margin-bottom: 5px;
}

#projs{
    list-style: none;
    padding: 2%;
}
.txtTitle{
    font-size: 50px;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#history{
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
}